In [2]:
import json # for saving preprocessing details
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split # for splitting data
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier # for training the algorithm
from sklearn.ensemble import ExtraTreesClassifier # for training the algorithm
import joblib # for saving algorithm and preprocessing objects

In [7]:
data = pd.read_csv("data/adult.csv", skipinitialspace=True)
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### Data preprocessing

In [17]:
# separate columns
X = data.drop("income", axis=1)
y = data["income"]

In [18]:
# divide into training and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=1234)

In [21]:
# fill missing values using most frequent result
train_mode = dict(X_train.mode().iloc[0])
X_train = X_train.fillna(train_mode)

In [38]:
# encode categorical values
encoders = {}
for i, ctype in enumerate(X.dtypes):
    if ctype == "object":
        categorical_convert = LabelEncoder()
        col_name = X.columns[i]
        X_train[col_name] = categorical_convert.fit_transform(X_train[col_name])
        encoders[col_name] = categorical_convert

### Training

In [43]:
# train the Random Forest algorithm
rf = RandomForestClassifier(n_estimators = 100)
model_rf = rf.fit(X_train, y_train)

In [44]:
# train the Extra Trees algorithm
et = ExtraTreesClassifier(n_estimators = 100)
model_et = et.fit(X_train, y_train)

In [46]:
# save preprocessing objects and models
joblib.dump(train_mode, "./train_mode.joblib", compress=True)
joblib.dump(encoders, "./encoders.joblib", compress=True)
joblib.dump(model_rf, "./random_forest.joblib", compress=True)
joblib.dump(model_et, "./extra_trees.joblib", compress=True)

['./extra_trees.joblib']